.git-old
.git-old/COMMIT_EDITMSG
ai-rating/node_modules
point.txt
.gitignore
point2.txt
ai.txt
GridSports_PRD.md
backend/seed_leaderboard.js

# Windows Zone.Identifier alternate data streams
*:Zone.Identifier
mpl.txt
